# Ignore Visual Studio files
.vs/
*.user
*.suo

# Ignore build output
bin/
obj/

# Ignore logs
*.log

# Ignore Rider IDE
.idea/

# Ignore user secrets / local settings
appsettings.Development.json
appsettings.Local.json
